.profileUserBlock {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 300px;
}
.profileUserBlockAvaAndButton {
    display: grid;
    /*width: 300px;*/
    height: 300px;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
}
.profileAva {
    padding: 30px;
    width: 200px;
    height: 200px;
}
.profileNameUser {
    color: #9c7575;
    font-family: "Times New Roman", cursive;
    font-style: italic;
    font-size: 50px;
    padding-top: 30px;
}
.profileInfo {
    color: black;
    font-size: 18px;
}
.userNameAndStatusAndAboutMe {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 300px;
}

.blockInfo {
    padding: 30px;
    color: black;
    font-size: 20px;
}
.blockInfo h3 {
    padding: 10px 10px 10px 0px;
}
.profileAboutMe {
    font-size: 20px;
}
.button {
    width: 100px;
    height: 50px;
    background-color: #9c7575;
    border-color: white;
    color: black;
    margin-left: 80px;
}